<!DOCTYPE html>
<html>
<head>
    <title>Variant Information</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <!-- <script src="../scripts/script.js"></script> -->
    <script>
        function addInput(containerId, inputName, placeholderText) {
            var inputContainer = document.createElement("div");
            inputContainer.classList.add("input-container");

            var inputField = document.createElement("input");
            inputField.type = "text";
            inputField.name = inputName;
            inputField.placeholder = "Enter " + placeholderText;

            var removeButton = document.createElement("button");
            removeButton.innerHTML = "-";
            removeButton.type = "button";
            removeButton.classList.add("remove-input-button");
            removeButton.onclick = function () {
                inputContainer.remove();
            };

            inputContainer.appendChild(inputField);
            inputContainer.appendChild(removeButton);

            document.getElementById(containerId).appendChild(inputContainer);
        }
    </script>
</head>
<body>
    <h1>Get Variant Information</h1>
    <div class="forms-container">
        <form action="/multiple_variants/id" method="GET">
            <div id="variant-id-container" class="input-container">
                <input type="text" name="variant_id" placeholder="Enter Variant ID">
            </div>
            <div class="index-container">
                <input type="number" name="page" placeholder="Page" min="1" step="1">
                <input type="number" name="items_per_page" placeholder="Items per Page" min="1" step="1">
                <input type="number" name="start" placeholder="Start Index" min="1" step="1">
                <input type="number" name="end" placeholder="End Index" min="1" step="1">
            </div>
            <button type="button" class="add-input-button" onclick="addInput('variant-id-container', 'variant_id','Variant ID')">+</button>
            <input type="submit" value="Get Variant Info">
        </form>
        <form action="/multiple_variants/info" method="GET">
            <div id="variant-info-container" class="input-container">
                <input type="text" name="variant_info" placeholder="Enter Variant Info">
            </div>
            <div class="index-container">
                <input type="number" name="page" placeholder="Page" min="1" step="1">
                <input type="number" name="items_per_page" placeholder="Items per Page" min="1" step="1">
                <input type="number" name="start" placeholder="Start Index" min="1" step="1">
                <input type="number" name="end" placeholder="End Index" min="1" step="1">
            </div>
            <button type="button" class="add-input-button" onclick="addInput('variant-info-container', 'variant_info', 'Variant Info')">+</button>
            <input type="submit" value="Get Variant ID">
        </form>
    </div>

    <h1 style="margin-bottom: 0px;">Add Variant Information</h1>
    <form action="/multiple_variants/info" method="POST">
        <div id="add-entry-container" class="input-container">
            <input type="text" name="add_entry" placeholder="Enter Variant Info">
        </div>
        <div class="index-container">
            <input type="number" name="start" placeholder="Start Index" min="1" step="1">
            <input type="number" name="end" placeholder="End Index" min="1" step="1">
        </div>
        <button type="button" class="add-input-button" onclick="addInput('add-entry-container', 'add_entry', 'Variant Info')">+</button>
        <input type="submit" value="Add Variant Info">
    </form>
</body>
</html>
\